@import "tailwindcss";

@theme {
  --font-awesome: var(--font-awesome-local);

  /* ── Brand palette ── */
  --color-dark-blue: #091430;
  --color-dark-sapphire: #0c1c36;
  --color-american-earth: #112341;

  /* ── Front Line Height ── */
  --leading-wider: 2.5;
}
*{
  box-sizing: border-box;
}
